<div>
	edit
	<script>


	$(function(){
		var editorTextArea = 		document.getElementById('editor')
		// /$("#editor");


		var myCodeMirror = CodeMirror.fromTextArea(editorTextArea,
		{
			mode: 'markdown',
			lineNumbers: true,
			theme: "default",
			extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
		}
		);
		console.log($("#editor"));
		console.log('fu editor');

	});
	</script>
    
	<textarea id="editor" rows="4" cols="50" style="display: none;">
	#Create your Cheeatz here
	</textarea>
	<div >two two two two two two</div>

	<hr />
</div>